fastapi
uvicorn[standard]
python-multipart
prometheus-fastapi-instrumentator

langchain
langchain-openai
langchain-community
langgraph
langgraph-checkpoint-mongodb==0.5.0
langchain-chroma

openai
chromadb

pymongo

pypdf
pymupdf
python-dotenv
pydantic-settings
sentence-transformers

paddlepaddle==3.2.2
paddleocr==3.7.0

numpy
pillow
opencv-python